.adressCard{
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    
}

.met_logo{
    color: red;
}
h10{
    font-style: oblique;
    text-justify: auto;
}

.theMetFifth{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

h7{
   font-size:large;
    font-family: Arial, Helvetica, sans-serif;

}