.firstRow{
    padding: 40px;
}

// .previewImages{

// }

.carousel-img {
    max-height: 500px;
   object-fit: none;
   background-color:#f7efefc9;
  
}

.artName{
font-family: Arial, Helvetica, sans-serif ;
font-size: large;
display: flex;
justify-content: center;
padding-left: 40px;
padding-top: 20px;
width: 100%;
}

.navbar-light .navbar-brand {
    color:white;
}

h3.p {
    filter: drop-shadow(0 0 2rem rgb(0, 0, 0))
}
